@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

#root {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  margin: 0 auto;
  /* position: fixed; */
  text-align: center;
   overflow-x: hidden;
  background-color: #FFFFFF;
}

footer {
  font-size: 0.6rem;
  padding: 30px 0;
}

img {-webkit-touch-callout:none;}

.main-name {
  margin: 0 auto;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 1rem;
}

.main-wedding-date, .main-wedding-venu {
  font-size: 1rem;
  margin: 8px auto;
}

.middle-title {
  margin: 20px 30px;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  border-bottom: 1px solid #999999;
  color: #999999;
  line-height: 2.2rem;
}

#daumRoughmapContainer1724175434169 {
  height: 350px;
  margin: 0 auto;
}

.location-inner {
  margin: 10px 30px;
  height: auto;
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
  
  .location-title {
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
  }

  .location-description{
    padding-left: 10px;
  }
}

.location-info {
  margin-bottom: 5px;
  font-size: 1.1rem;
}
.location-info-address {
  margin-bottom: 20px;
  font-size: 0.9rem;
  color: #5a5f66;
}

.swiper {
  /* width: 100%; */
  margin: 20px 30px;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev
{
  color: #999999;
}

.account-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  background-color: #ffe4b2;
  border-radius: 10px;
}

#calendar {
  width: 300px;
  margin: 40px auto;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 0;
  overflow: hidden;
}

/* 헤더 스타일 */
.header {
  padding-bottom: 20px;
  background: transparent;
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* 요일 스타일 */
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  background: transparent;
  font-weight: bold;
  padding: 10px 0;
}

/* 날짜 스타일 */
#dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px 0;
}

/* 날짜 개별 스타일 */
.date {
  padding: 15px 0;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px auto;
  width: 40px;
  height: 10px;
  line-height: 10px;
  transition: background-color 0.3s, color 0.3s;
}

/* 선택된 날짜 스타일 */
.date.selected {
  position: relative;
  width: 40px;
  height: 10px;
  background-color: #FF5733;
  color: white;
  margin: 5px auto;
}